Repository phrazzld/thinktank: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-correlation-id, check-large-files, check-licenses, validate-ci-config

.pre-commit-config.yaml:

repos:
# Basic file hygiene (very fast)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=500']  # Stricter limit

# Security scanning (secret detection)
-   repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.89.0
    hooks:
    -   id: trufflehog
        name: TruffleHog Secret Detection
        description: Detect hardcoded secrets in code
        entry: sh -c 'if command -v trufflehog >/dev/null 2>&1; then trufflehog git file://. --since-commit HEAD --only-verified --fail; else echo "⚠️  TruffleHog not installed locally - secret scanning will run in CI"; fi'
        language: system
        stages: [pre-commit]
        always_run: true

# Fast Go checks only
-   repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
    -   id: go-fmt
    -   id: go-vet
        exclude: "(internal/e2e/.*|internal/lint/.*)"
    -   id: go-mod-tidy

# Advanced Go linting (matches CI configuration)
-   repo: local
    hooks:
    -   id: golangci-lint
        name: Run golangci-lint
        entry: sh -c 'if command -v golangci-lint >/dev/null 2>&1; then golangci-lint run --timeout=5m; else echo "⚠️  golangci-lint not installed locally - linting will run in CI"; fi'
        language: system
        types: [go]
        pass_filenames: false
        description: Run comprehensive Go linting (matches CI configuration)

# Local fast checks
-   repo: local
    hooks:
    -   id: check-correlation-id
        name: Check for manual correlation_id formatting in logs
        entry: scripts/check-correlation-id.sh
        language: script
        types: [go]
        pass_filenames: false
    -   id: check-large-files
        name: Check for large Go files
        entry: scripts/check-large-files.sh
        language: script
        types: [go]
        pass_filenames: false
    -   id: check-licenses
        name: Check dependency license compliance
        entry: scripts/check-licenses.sh
        language: script
        files: ^(go\.mod|go\.sum)$
        pass_filenames: false
        description: Verify all Go dependencies use approved licenses
    -   id: validate-ci-config
        name: Validate GitHub Actions workflow configuration
        entry: scripts/validate-ci-config.sh
        language: script
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false
    -   id: go-coverage-check
        name: Go Coverage Regression Check
        entry: scripts/check-coverage-cached.sh 79
        language: script
        types: [go]
        pass_filenames: false
        always_run: true
        description: Prevent commits that drop test coverage below 79% (temporarily lowered from 80%)

# Post-commit hooks (run after successful commit)
-   repo: local
    hooks:
    -   id: run-glance
        name: Run glance to update directory overviews
        entry: .pre-commit-hooks/run_glance.sh
        language: script
        stages: [post-commit]
        pass_filenames: false
        always_run: true

feat: implement coverage-critical test target and parallel test execution
  .gitignore
  .pre-commit-config.yaml
  Makefile
  TODO.md
  internal/logutil/logutil_test.go
  internal/providers/gemini/provider_test.go
  internal/providers/openai/provider_test.go
  internal/ratelimit/ratelimit_test.go
  scripts/check-coverage-cached.sh
Due: golangci-lint, check-correlation-id, check-large-files

fix: handle CLI help command exit code in Docker E2E tests
  TODO.md
  docker/e2e-test.Dockerfile
Due: none

fix: resolve CI test failure in audit log file creation test
  internal/cli/run_main_test.go
Due: golangci-lint, check-correlation-id, check-large-files

docs: add coverage best practices for test helper functions
  CLAUDE.md
  internal/cli/run_main_test.go
Due: golangci-lint, check-correlation-id, check-large-files

refactor: reorganize project structure and clean up build artifacts
  .gitignore
  docs/analysis/DEPENDENCY_INJECTION_ANALYSIS.md
  docs/analysis/MAIN_FUNCTION_AUDIT.md
  docs/analysis/SUBPROCESS_TESTS_ANALYSIS.md
  docs/analysis/SUBPROCESS_TEST_ANALYSIS.md
  task.md
Due: none

chore: rm completed todo
  TODO.md
Due: none

feat: implement SimplifiedConfig struct with 100% test coverage
  internal/cli/simple_config.go
  internal/cli/simple_config_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement smart model selection algorithm with caching
  TASK.md
  TODO.md
  docs/simple-parser-design.md
  internal/cli/model_selector.go
  internal/cli/model_selector_test.go
  internal/cli/parse_simplified_args_test.go
  internal/cli/simple_config.go
  internal/cli/simple_parser.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: complete CLI simplification infrastructure
  README.md
  TODO.md
  internal/cli/api_detector.go
  internal/cli/api_detector_test.go
  internal/cli/config_adapter.go
  internal/cli/config_adapter_test.go
  internal/cli/context_analyzer.go
  internal/cli/context_analyzer_test.go
  internal/cli/deprecation_integration_test.go
  internal/cli/deprecation_telemetry.go
  internal/cli/deprecation_telemetry_test.go
  internal/cli/errors.go
  internal/cli/errors_test.go
  internal/cli/flags.go
  internal/cli/main.go
  internal/cli/model_selector.go
  internal/cli/output_manager.go
  internal/cli/output_manager_test.go
  internal/cli/parse_simplified_args_test.go
  internal/cli/parser_router.go
  internal/cli/parser_router_test.go
  internal/cli/rate_limiter.go
  internal/cli/rate_limiter_test.go
  internal/cli/simple_config.go
  internal/cli/simple_config_test.go
  internal/cli/simple_config_validation_test.go
  internal/cli/simple_parser.go
  internal/cli/simple_parser_test.go
  internal/cli/warning_suppression_test.go
  internal/config/config.go
  internal/config/warning_suppression_test.go
  internal/e2e/e2e_simplified_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement migration guide generation from usage patterns using TDD
  internal/cli/migration_guide.go
  internal/cli/migration_guide_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: complete E2E compatibility testing for simplified CLI interface
  .claude/commands/execute.md
  .claude/commands/plan.md
  TODO.md
  internal/cli/MIGRATION_GUIDE_DESIGN.md
  internal/cli/migration_guide.go
  internal/cli/migration_guide_test.go
  internal/cli/migration_performance_test.go
  internal/e2e/e2e_simplified_test.go
Due: golangci-lint, check-correlation-id, check-large-files

docs: mark deprecation warnings task as completed in TODO.md
  TODO.md
  internal/cli/main.go
  internal/cli/parser_router.go
  internal/cli/run_interfaces.go
  internal/cli/run_main_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: update CLI documentation with simplified interface showcase
  README.md
  TODO.md
  internal/cli/config_adapter.go
  internal/cli/deprecated_flags_test.go
  internal/cli/deprecation_telemetry.go
  internal/cli/documentation_examples_test.go
  internal/cli/env_cache.go
  internal/cli/env_cache_test.go
  internal/cli/env_config.go
  internal/cli/env_config_test.go
  internal/cli/env_integration_test.go
  internal/cli/fast_parser.go
  internal/cli/flags.go
  internal/cli/memory_pool.go
  internal/cli/memory_pool_test.go
  internal/cli/memory_profile_test.go
  internal/cli/migration_guide.go
  internal/cli/parser_router.go
  internal/cli/simplified_env_test.go
  internal/cli/startup_perf_test.go
  internal/config/config.go
  internal/thinktank/registry_api.go
Due: golangci-lint, check-correlation-id, check-large-files

docs: complete final validation and acceptance criteria assessment
  TODO.md
Due: none

feat: implement token-based multi-model filtering system
  TASK.md
  internal/cli/config_adapter.go
  internal/cli/context_analyzer_test.go
  internal/cli/main.go
  internal/cli/model_selector.go
  internal/cli/model_selector_test.go
  internal/thinktank/app.go
Due: golangci-lint, check-correlation-id, check-large-files

fix: resolve merge-blocking cache invalidation and test quality issues
  internal/cli/context_analyzer.go
  internal/cli/context_analyzer_test.go
  internal/cli/deprecation_telemetry_test.go
Due: golangci-lint, check-correlation-id, check-large-files

fix: make dry run mode consistently skip API key validation
  TODO.md
  internal/config/config.go
  internal/config/config_test.go
Due: golangci-lint, check-correlation-id, check-large-files

docs: complete Gordian CLI simplification project documentation
  .github/workflows/dependency-updates.yml
  TODO.md
Due: validate-ci-config

fix: correct E2E test API call for SimplifiedConfig conversion
  internal/e2e/e2e_simplified_test.go
Due: golangci-lint, check-correlation-id, check-large-files

fix: update E2E test helpers to use simplified CLI format
  internal/e2e/helpers.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: enhance test coverage for CLI and config packages
  .gitignore
  TODO.md
  internal/cli/errors_test.go
  internal/cli/main_test.go
  internal/config/config_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement intelligent model selection and hardcoded synthesis model
  README.md
  internal/cli/apply_env_vars_test.go
  internal/cli/main.go
  internal/cli/main_test.go
  internal/cli/simple_config.go
  internal/cli/simple_parser.go
  internal/config/minimal_config.go
  internal/models/models.go
Due: golangci-lint, check-correlation-id, check-large-files

test: add comprehensive tests for CLI package and complete coverage recovery
  TODO.md
  internal/cli/enhanced_flag_parsing_test.go
  internal/cli/logger_routing_test.go
  internal/cli/main.go
  internal/cli/select_models_test.go
  internal/models/model_selection_test.go
  internal/models/models_test.go
  internal/models/provider_detection_test.go
  internal/models/token_estimation_test.go
Due: golangci-lint, check-correlation-id, check-large-files

fix: update test expectations to match actual implementation behavior
  internal/integration/binary_integration_test.go
  internal/models/model_selection_test.go
  internal/models/models_test.go
  internal/models/token_estimation_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement comprehensive pre-commit coverage management system
  .pre-commit-config.yaml
  scripts/check-coverage-detailed.sh
  scripts/update-coverage-threshold.sh
Due: none

test: add comprehensive test coverage for models and CLI package edge cases
  internal/cli/errors_additional_test.go
  internal/cli/main_additional_test.go
  internal/models/models_test.go
Due: golangci-lint, check-correlation-id, check-large-files

docs: align README with simplified CLI implementation
  README.md
Due: none

feat: reorganize project structure for better maintainability
  .gitignore
  README.md
  docs/README.md
  docs/coverage/BASELINE_MEASUREMENT.md
  docs/coverage/COVERAGE_DELTA_MATHEMATICAL_MODEL.md
  docs/coverage/COVERAGE_DISCREPANCY_ANALYSIS.md
  docs/coverage/COVERAGE_FOCUSED_TESTING_ANALYSIS.md
  docs/coverage/COVERAGE_MEASUREMENT_STRATEGY.md
  docs/coverage/UNCOVERED_LINE_DISTRIBUTION.md
  docs/operations/DEPENDENCY_UPDATES.md
  docs/operations/PERFORMANCE_METRICS.md
  docs/operations/QUALITY_GATE_FEATURE_FLAGS.md
  docs/testing/PROPERTY_BASED_DEADLOCK_TESTING.md
  docs/testing/TESTING.md
Due: none

refactor: remove obsolete ToCliConfig method and fix CI default model check
  internal/cli/parse_simplified_args_test.go
  internal/cli/simple_config.go
  internal/cli/simple_config_test.go
  internal/e2e/e2e_simplified_test.go
  scripts/ci/check-defaults.sh
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement core TokenCountingService with TDD approach
  TODO.md
  internal/thinktank/token_counting.go
  internal/thinktank/token_counting_test.go
  task.md
Due: golangci-lint, check-correlation-id, check-large-files

docs: mark TokenCountingService core implementation as completed
  TODO.md
Due: none

feat: implement accurate token counting with tiktoken-go integration
  TODO.md
  go.mod
  go.sum
  internal/thinktank/token_counting.go
  internal/thinktank/token_counting_test.go
  internal/thinktank/tokenizers/interfaces.go
  internal/thinktank/tokenizers/manager.go
  internal/thinktank/tokenizers/manager_test.go
  internal/thinktank/tokenizers/openai.go
  internal/thinktank/tokenizers/openai_test.go
Due: golangci-lint, check-correlation-id, check-large-files, check-licenses

feat: support multiple target paths in CLI
  README.md
  TODO.md
  internal/cli/main.go
  internal/cli/multiple_paths_integration_test.go
  internal/cli/simple_config.go
  internal/cli/simple_parser.go
  internal/cli/simple_parser_multiple_paths_test.go
  internal/cli/testdata/instructions.md
Due: golangci-lint, check-correlation-id, check-large-files

fix: validate individual path lengths instead of combined string
  internal/cli/simple_config.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: implement comprehensive token counting service with accurate tokenization
  .gitignore
  CLAUDE.md
  docs/STRUCTURED_LOGGING.md
  internal/testutil/mock_tokenizer_manager.go
  internal/thinktank/token_counting.go
  internal/thinktank/token_counting_test.go
Due: golangci-lint, check-correlation-id, check-large-files

feat: add comprehensive --help flag support to CLI
  TODO.md
  internal/cli/help.go
  internal/cli/help_test.go
  internal/cli/main.go
  internal/cli/simple_config.go
  internal/cli/simple_parser.go
Due: golangci-lint, check-correlation-id, check-large-files

chore: massive project reorganization and cleanup
  .gitignore
  task.md
Due: none

feat: implement clean modern UX for token counting compatibility display
  internal/integration/boundary_synthesis_flow_new_test.go
  internal/integration/boundary_synthesis_flow_test.go
  internal/thinktank/orchestrator/compatibility_display.go
  internal/thinktank/orchestrator/compatibility_display_test.go
  internal/thinktank/orchestrator/model_processing.go
  internal/thinktank/orchestrator/orchestrator.go
  internal/thinktank/orchestrator/orchestrator_failed_model_synthesis_test.go
  internal/thinktank/orchestrator/orchestrator_process_models_test.go
  internal/thinktank/token_counting.go
  internal/thinktank/token_counting_basic_test.go
  internal/thinktank/token_counting_compatibility_test.go
  internal/thinktank/token_counting_logging_test.go
  internal/thinktank/token_counting_specialized_test.go
Due: golangci-lint, check-correlation-id, check-large-files
