Repository phrazzld/thinktank: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-correlation-id, check-large-files, check-licenses, validate-ci-config

.pre-commit-config.yaml:

repos:
# Basic file hygiene (very fast)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=500']  # Stricter limit

# Security scanning (secret detection)
-   repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.89.0
    hooks:
    -   id: trufflehog
        name: TruffleHog Secret Detection
        description: Detect hardcoded secrets in code
        entry: sh -c 'if command -v trufflehog >/dev/null 2>&1; then trufflehog git file://. --since-commit HEAD --only-verified --fail; else echo "⚠️  TruffleHog not installed locally - secret scanning will run in CI"; fi'
        language: system
        stages: [pre-commit]
        always_run: true

# Fast Go checks only
-   repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
    -   id: go-fmt
    -   id: go-vet
        exclude: "(internal/e2e/.*|internal/lint/.*)"
    -   id: go-mod-tidy

# Local fast checks
-   repo: local
    hooks:
    -   id: check-correlation-id
        name: Check for manual correlation_id formatting in logs
        entry: scripts/check-correlation-id.sh
        language: script
        types: [go]
        pass_filenames: false
    -   id: check-large-files
        name: Check for large Go files
        entry: scripts/check-large-files.sh
        language: script
        types: [go]
        pass_filenames: false
    -   id: check-licenses
        name: Check dependency license compliance
        entry: scripts/check-licenses.sh
        language: script
        files: ^(go\.mod|go\.sum)$
        pass_filenames: false
        description: Verify all Go dependencies use approved licenses
    -   id: validate-ci-config
        name: Validate GitHub Actions workflow configuration
        entry: scripts/validate-ci-config.sh
        language: script
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

# Post-commit hooks (run after successful commit)
-   repo: local
    hooks:
    -   id: run-glance
        name: Run glance to update directory overviews
        entry: .pre-commit-hooks/run_glance.sh
        language: script
        stages: [post-commit]
        pass_filenames: false
        always_run: true

feat: enhance local development workflow (CI010)
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
  TODO.md
Due: none

fix: add missing expected error patterns to integration tests
  internal/integration/boundary_synthesis_flow_new_test.go
  internal/integration/modelproc_integration_test.go
Due: check-correlation-id, check-large-files

fix: add missing expected error patterns in integration tests
  internal/integration/comprehensive_e2e_workflow_test.go
  internal/integration/invalid_synthesis_model_test.go
  internal/integration/modelproc_integration_test.go
Due: check-correlation-id, check-large-files

fix: resolve CI/CD pipeline failures in CLI integration tests
  cmd/thinktank/cli_binary_integration_test.go
  cmd/thinktank/cli_bootstrap_test.go
  cmd/thinktank/cli_pattern_test.go
  cmd/thinktank/cli_synthesis_test.go
  cmd/thinktank/cli_validation_integration_test.go
Due: check-correlation-id, check-large-files

fix: align CLI test expectations with CI environment behavior
  cmd/thinktank/cli_binary_integration_test.go
Due: check-correlation-id, check-large-files

fix: correct exit codes for CI environment authentication failures
  cmd/thinktank/cli_binary_integration_test.go
Due: check-correlation-id, check-large-files

Skip brittle CLI integration tests that test implementation details
  cmd/thinktank/cli_binary_integration_test.go
Due: check-correlation-id, check-large-files

Skip brittle validation integration tests that fail on expected error logs
  cmd/thinktank/cli_validation_integration_test.go
Due: check-correlation-id, check-large-files

fix: resolve CI coverage failures by adjusting threshold and fixing brittle tests
  cmd/thinktank/cli_binary_integration_test.go
  cmd/thinktank/cli_validation_integration_test.go
  scripts/check-coverage.sh
Due: check-correlation-id, check-large-files

fix: update CI workflow to use 80% coverage threshold
  .github/workflows/ci.yml
Due: validate-ci-config

fix: update package-specific coverage script to use 80% overall threshold
  scripts/ci/check-package-specific-coverage.sh
Due: none

feat: define ConsoleWriter interface for clean console output
  internal/logutil/console_writer.go
  internal/logutil/console_writer_test.go
Due: check-correlation-id, check-large-files

feat: implement ConsoleWriter with environment detection
  PLAN.md
  TICKET-CONTEXT.md
  TODO.md
  go.mod
  go.sum
  internal/logutil/console_writer.go
  internal/logutil/console_writer_impl_test.go
Due: check-correlation-id, check-large-files, check-licenses

feat: complete logging system cleanup with comprehensive testing
  TODO.md
  cmd/thinktank/cli.go
  cmd/thinktank/cli_benchmark_test.go
  execute-instructions.md
  internal/cli/flags.go
  internal/cli/flags_integration_test.go
  internal/cli/flags_new_test.go
  internal/cli/main.go
  internal/cli/setup_logging_test.go
  internal/config/config.go
  internal/integration/boundary_synthesis_flow_new_test.go
  internal/integration/boundary_test_adapter.go
  internal/integration/invalid_synthesis_model_test.go
  internal/integration/no_synthesis_flow_test.go
  internal/integration/synthesis_with_failures_test.go
  internal/logutil/console_writer.go
  internal/logutil/console_writer_test.go
  internal/thinktank/app.go
  internal/thinktank/app_error_test.go
  internal/thinktank/app_execute_test.go
  internal/thinktank/execute_error_handling_test.go
  internal/thinktank/orchestrator.go
  internal/thinktank/orchestrator/orchestrator.go
  internal/thinktank/orchestrator/orchestrator_correlation_test.go
  internal/thinktank/orchestrator/orchestrator_failed_model_synthesis_test.go
  internal/thinktank/orchestrator/orchestrator_flow_test.go
  internal/thinktank/orchestrator/orchestrator_individual_output_test.go
  internal/thinktank/orchestrator/orchestrator_synthesis_test.go
  internal/thinktank/orchestrator_factory_test.go
Due: check-correlation-id, check-large-files

feat: complete ConsoleWriter error handling and edge cases (T008)
  TODO.md
  internal/cli/main.go
  internal/logutil/console_writer.go
  internal/logutil/console_writer_test.go
Due: check-correlation-id, check-large-files

docs: update documentation for dual-output logging system
  CLAUDE.md
  README.md
  docs/ERROR_HANDLING_AND_LOGGING.md
  docs/STRUCTURED_LOGGING.md
Due: none

fix: make quiet mode show errors as documented (T011)
  TODO.md
  internal/logutil/console_writer.go
  internal/logutil/console_writer_test.go
Due: check-correlation-id, check-large-files

chore: clean up planning artifacts and update gitignore
  .gitignore
  PLAN.md
  TICKET-CONTEXT.md
  TODO.md
  execute-instructions.md
Due: none

fix: resolve data race in CLI test runner
  TODO.md
  internal/cli/flags_integration_test.go
Due: check-correlation-id, check-large-files

docs: add race detection testing commands to development workflow
  CLAUDE.md
  TODO.md
Due: none

docs: update CI resolution status
  TODO.md
Due: none

test: add robustness improvements to CLI integration test cleanup
  TODO.md
  internal/cli/flags_integration_test.go
Due: check-correlation-id, check-large-files

test: simplify CLI output capture to fix CI environment issues
  TODO.md
  internal/cli/flags_integration_test.go
Due: check-correlation-id, check-large-files

fix: resolve CI design flaw by separating CLI tests from race detection
  .github/workflows/ci.yml
  CI-REDESIGN-PROPOSAL.md
Due: validate-ci-config

docs: document emergency bypass due to CI infrastructure issues
  CI-REDESIGN-PROPOSAL.md
Due: none

remove: eliminate bypass-tests mechanism from CI pipeline
  .github/workflows/ci.yml
  CI-REDESIGN-PROPOSAL.md
Due: validate-ci-config

fix: isolate CLI test environment from real CI variables
  internal/cli/flags_integration_test.go
Due: check-correlation-id, check-large-files

pragmatic: skip flaky CLI logging test in CI environments
  internal/cli/flags_integration_test.go
Due: check-correlation-id, check-large-files

fix: isolate environment variables in ConsoleWriter tests to prevent CI interference
  TODO.md
  internal/logutil/console_writer.go
  internal/logutil/console_writer_test.go
Due: check-correlation-id, check-large-files

fix: isolate environment variables in TestConsoleWriter_EnvironmentDetection
  internal/logutil/console_writer_impl_test.go
Due: check-correlation-id, check-large-files

fix: isolate environment variables in TestConsoleWriter_OutputModes
  internal/logutil/console_writer_impl_test.go
Due: check-correlation-id, check-large-files

feat: update default model and fix dry-run console output
  config/models.yaml
  internal/config/config.go
  internal/thinktank/app.go
  internal/thinktank/context.go
  internal/thinktank/context_test.go
Due: check-correlation-id, check-large-files

docs: update default model references to gemini-2.5-pro
  README.md
  docs/openrouter-integration.md
Due: none

feat(models): create internal/models package structure
  CI-REDESIGN-PROPOSAL.md
  EXTRACTED_MODEL_METADATA.md
  PLAN-CONTEXT.md
  PLAN.md
  TODO.md
  internal/models/doc.go
  internal/models/models.go
  internal/models/models_test.go
Due: check-correlation-id, check-large-files

feat(models): define comprehensive ModelInfo struct
  TODO.md
  internal/models/models.go
Due: check-correlation-id, check-large-files

feat(models): implement hardcoded ModelDefinitions map
  TODO.md
  internal/models/models.go
Due: check-correlation-id, check-large-files

feat(models): implement GetModelInfo function
  EXTRACTED_MODEL_METADATA.md
  TODO.md
  internal/models/models.go
Due: check-correlation-id, check-large-files

feat(models): implement GetProviderForModel function
  TODO.md
  internal/models/models.go
Due: check-correlation-id, check-large-files
